:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans",
        sans-serif;
    /* background-color: #1f2021; */

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

/* mini */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* meduim */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.navegation {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-top: 40px;
}

.logo img {
    height: 40px;
}

.headlist {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    padding-left: 270px;
}

.icon {
    border-left: 1px solid white;
    padding-left: 10px;
}

header {
    border-bottom: #364654 solid 1px;

}

.header {
    background-color: #090c14;

}

header nav ul li a {
    padding: 20px 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: #19C6F5;
    border-bottom: 1px solid #19C6F5;
}

header nav .icon i {
    color: white;
    top: 5%;
    position: absolute;
    font-size: x-large;
}

.first {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.content {
    color: white;
    font-weight: lighter;
    font-size: large;
    height: 200px;
}

.first {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/background.jpg");
    background-size: cover;
    position: relative;
}

.first .empty {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.first .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.first .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .first .text {
        width: 100%;
    }

    .first .text .content {
        max-width: 100%;
    }
}

.first .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.first .text .content p {
    font-size: 14px;
    line-height: 2;
}

.first .change-background {
    position: absolute;
    top: 50%;
    color: #ddd;
}

@media (max-width: 767px) {
    .first .change-background {
        display: none;
    }
}

.first .fa-angle-left {
    left: 30px;
}

.first .fa-angle-right {
    right: 30px;
}

.first .bullets {
    position: absolute;
    left: 47%;
    bottom: 30px;
    display: flex;
}

.first .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.first .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    margin-top: 100px;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: var(--main-color);
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

.serv {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 80px;
}

.item {
    display: flex;
}

.item i {
    font-size: 50px;
}

.item2 {
    margin-left: 60px;
}

.item2 h3 {
    color: #19C6F5;
    font-size: xx-large;
    font-weight: lighter;
    padding-bottom: 40px;
}

.item2 p {
    font-size: large;
    line-height: 1.8;
    color: #333;
}

.design {
    margin-top: 100px;
    /* background-image: url("../images/safe.jpg"); */
    min-height: 90vh;
    background-color: #042442;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.ourdesign {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: block;
}

.ourdesign h2 {
    font-size: xx-large;
    font-weight: lighter;
    /* padding-bottom: 50px; */
    height: 100px;
}

.ourdesign ul li {
    display: block;
    margin-bottom: 30px;
    font-size: larger;
    font-weight: lighter;
}

.ourdesign ul li i {
    padding-right: 10px;
}

.mobile img {
    position: relative;
    bottom: -320px;
    padding-left: 100px;
}

.all .container .items ul {
    display: flex;
    justify-content: center;
    font-size: larger;


}

.container .items ul li {
    padding: 10px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.aa {
    color: white;
    background-color: #19C6F5;
}


.show .imagecontainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    margin-top: 60px;

}

.show .imagecontainer .box {
    position: relative;
    overflow: hidden;
}

.show .imagecontainer .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;

}

.show .imagecontainer .box img {
    max-width: 100%;
    transition: 0.3s;
}

.show .imagecontainer .box:hover .caption {
    bottom: 0;
}

.show .imagecontainer .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
    .imagecontainer .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .imagecontainer .box {
        flex-basis: 25%;
    }
}

.show .imagecontainer .box .caption h4 {
    color: black;
    font-size: larger;
    font-weight: lighter;
    /* text-align: center; */
}

.show .imagecontainer .box .caption p {
    color: #19c8fa;
    font-size: larger;
    font-weight: lighter;
    padding-top: 5px;
}

.more {
    margin-top: 50px;
    text-align: center;
}

.more .container a {
    margin-top: 100px;
    text-align: center;
    background-color: #19c8fa;
    color: white;
    padding: 10px 20px;
}

.videos {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.videos .text {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 50%;
    background-color: #19c6f569;
    text-align: center;
}

.videos .text h2 {
    padding-top: 40px;
    font-size: xx-large;
    font-weight: lighter;
    color: white;
}

.videos .text p {
    color: white;
    font-size: x-large;
    font-weight: lighter;
    padding-top: 30px;
}

.videos .text button {
    margin-top: 40px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}

.aboutimage {
    text-align: center;
    position: relative;
    z-index: -1;
}

.stats {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-image: url(../images/stats.png);
    margin-top: -100px;
    background-size: cover;
    /* position: relative; */
}



.stats .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 0.5fr));
    text-align: center;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}


.stats .container .box i {
    color: black;
    font-size: 40px;
    border-radius: 50px;
    border-color: black;
    margin-top: 40px;
}

.stats .container .box .number {
    font-size: 70px;
    font-weight: bolder;
    color: white;
    margin-top: 30px;
}

.stats .container .box p {
    font-size: smaller;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.quote {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.quote .container {
    position: relative;
}

.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}


.final .column {
    background-color: #fcfcfc;
}

.dollar {
    border-top: #19C6F5 1px solid;
    border-bottom: #19C6F5 1px solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dollar h3 {
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
}

.mo {
    text-align: center;
    padding-top: 10px;
    font-size: xx-large;
}


.dollar-sign {
    font-size: large;
    position: relative;
    bottom: 23px;
    left: -14px;
}

.column .dollar p .num {
    font-size: 50px;
    font-weight: bolder;
    padding-right: 10px;
}



.rest-list li {
    border-bottom: #19C6F5 1px solid;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}



.buy {
    margin-top: 40px;
    color: black;
    padding: 20px 30px;
    border: 1px solid #19C6F5;
    font-weight: lighter;
}

.final .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 0.5fr));
    grid-gap: 20px;
}

.c .container p {
    text-align: center;
    margin-top: 80px;
    font-size: x-large;

}

.c .container .contact-link {
    background-color: #19C6F5;
    color: white;
    padding: 15px 50px;
}